.body-blue{
  width:15px;
  height:15px;
  float: left;
  background: blue;
  border-radius: 7px;
}
.body-red{
  width:15px;
  height:15px;
  float: left;
  background: red;
  border-radius: 7px;
}
.body-yellow{
  width:15px;
  height:15px;
  float: left;
  background: yellow;
  border-radius: 7px;
}
.body-blank{
  width:15px;
  height:15px;
  float: left;
}
